---
layout: default
permalink: projects
title: Projects
---

{% include header.html %}


<p>
<a href="https://github.com/zoewilson/journaler">Journaler</a>
<br>
Programmatically designed programming application that allows the user to 
create new entries and edit previous entries with Markdown within a simple and
intuitive graphical user interface.
<br> <br>
</p>

<p>
<a href="https://github.com/zakrywilson/wild-files">File Manipulation Library</a>
<br>
Providing quick and easy static methods for destructive file manipulation. 
The purpose of these file manipulation methods is to provide simple methods 
that perform destructive file manipulation for the developer, reducing the 
need for multiple try-catches and error checking.
<br><br>
</p>


{% include footer.html %}
